{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block header %}

  <h3>Log in to your diary</h3>
{% endblock header %}


{% block content %}
  <form method="post" action="{% url 'owners:login' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
      {% endbuttons %}

      <input type="hidden" name="next" value="{% url 'posts:home' %}" />
  </form>

{% endblock content %}