{% extends "base.html" %}
{% load static %}
{% block content %}

  <form method="post" action="{% url 'owners:register_user' %}">
      {% csrf_token %}
      {{ form.as_p }}

      <button name="submit">register</button>
      <input type="hidden" name="next" value="{% url 'posts:home' %}">
  </form>

{% endblock content %}