{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diary</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <link type="text/css" rel="stylesheet" href="{% static 'home.css' %}">
</head>


<body>
  <nav class="navbar navbar-default navbar-static-top">
      <div class="container">

          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed"
                 data-toggle="collapse" data-target="#navbar"
                      aria-expanded="false" aria-controls="navbar">

              </button>
              <a class="navbar-brand" href="{% url 'posts:home' %}">home page</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{% url 'posts:topics' %}">Topics</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                  <li><a>Hello, {{ user.username }}.</a></li>
                  <li><a href="{% url 'owners:logout_page' %}">log out</a></li>
                  {% else %}
                  <li><a href="{% url 'owners:register_user' %}">register</a></li>
                  <li><a href="{% url 'owners:login' %}">log in</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>

      <div class="container">
          <div class="page-header">
                {% block header %}{% endblock header %}
          </div>
          <div>
              {% block content %}{% endblock content %}
          </div>
      </div>

</body>
</html>