{% extends "base.html" %}
{% load static %}
{% block content %}

  <p><a href="{% url 'posts:topic' topic.id %}">{{ topic }}</a></p>

  <p>Edit note:</p>

  <form action="{% url 'posts:edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">save changes</button>
  </form>

{% endblock content %}
