{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<body>

{% block header %}
   <div class="jumbotron">
       <h1>There you can keep your secrets</h1>
   </div>
{% endblock header %}

{% block content %}
<h2>
    <a href="{% url 'owners:register_user' %}">Register your account</a> to make your own posts and save it as a memory.
</h2>
<h2>
    Whatever happened in your life, just write it down so you can keep your memories and never forget them.
</h2>
{% endblock content %}

</body>
</html>