{% extends "base.html" %}
{% load static %}
{% block content %}

  <p><a href="{% url 'posts:topic' topic.id %}">{{ topic }}</a></p>

  <p>Add a new entry:</p>
  <form action="{% url 'posts:new_entry' topic.id %}"  method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit">add note</button>
  </form>
{% endblock content %}