{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block header %}
  <h3>Add a new topic</h3>
{% endblock header %}

{% block content %}
  <form action="{% url 'posts:new_topic' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
      <button name="submit" class="btn btn-primary">add title</button>
      {% endbuttons %}
  </form>
{% endblock content %}