{% extends "base.html" %}
{% load static %}

{% block header %}
 <h3>{{ topic }}</h3>
{% endblock header %}


{% block content %}
    <p>
        <a href="{% url 'posts:new_entry' topic.id %}">add new note</a>
    </p>

  {% for entry in entries %}
      <div class="panel panel-default"> <div class="panel-heading">
      <h3>
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small>
                    <a href="{% url 'posts:edit_entry' entry.id %}">edit note</a>
          </small>
          <small>
              {% url 'posts:delete_note' entry.id as the_url %}
              <a href="#" class="pull-right" data-toggle="modal" data-target="#deleteNoteModal"
                 onclick="updateModal('delNoteModalLink','{{the_url}}')">delete note</a>
          </small>
      </h3>
      </div>
          <div class="panel-body">
              {{ entry.text|linebreaks }}
          </div>
      </div>
  {% empty %}

          There are no entries for this topic yet.

  {% endfor %}

{% endblock content %}