{% extends "base.html" %}
{% load static %}



{% block header%}
  <h1>Topics</h1>
{% endblock header %}


{% block content %}
  <ul>
      {% for topic in topics %}
        <li>
            <h3>
            <a href="{% url 'posts:topic' topic.id %}">{{ topic }}</a>
            </h3>
        </li>
      {% empty %}
        <li>No topics have been added yet</li>
      {% endfor %}
  </ul>

  <h3><a href="{% url 'posts:new_topic' %}">Add a new topic:</h3>

{% endblock content %}

