body, html {
    font-family: Arial, Helvetica;height: 100%;
    background-image: url(https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60);
    background-size: cover;
    background-position: center;
    background-color: #010406;
}

* {

}

.heading {
    weight: 600px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
    color: #FFFFF2
}

.title {
    font-family: 'Kristen ITC';
    color: #0040A0;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
    }
.subtitle {
    font-family: 'Lucida Handwriting';
    color:#0080D0;
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
}

